<h1>Showing you a bllaaaa..</h1>

<p>
uid: <%= @track.uid %>
</p>
<p>
title: <%= @track.title %>
</p>
<p>
description: <%= @track.description %>
</p>
<p>
track_length: <%= @track.track_length %>
</p>
<p>
created_date: <%= @track.created_date %>
</p>
