<h1>Track: <%= @track.title %></h1>

<div id="show" class="nexttoheader">
	<div>
      <b>ID</b> <%= @track.uid %>
	</div>
	<div>
      <b>Title</b> <%= @track.title %>
	</div>
	<div>
	<% if !@track.description.empty? %>
      <b>Description</b> <p style="margin-left: 15px;"><%= @track.description %></p>
	<% else %>
		No Description
	<% end %>
	</div>
	<div>
      <b>Track length</b> <%= (@track.track_length / 1000).round(3) %>km
	</div>
	<div>
      <b>Created at</b> <%= @track.created_date %>
	</div>
</div>
<div id="poi">
  <h2>Interessante Punkte auf dieser Strecke:</h2>
	<table>
	<% if @track.pois.empty? %>
		<p>Keine Points of Interests. :(</p>
	<% else %>
		<% @track.pois.each do |poi| %>
            <% c = cycle 'list_line_odd', 'list_line_even' %>
			<tr class='<%= c  %>'>
				<td><%= poi.title %></td>
				<td><%= link_to image_tag("wikipedia.png"), "#{poi.link}" %></td>
				
			</tr>
            <tr class="<%= c %>">
              <td>
                <% if poi.tweet %>
                  <%= image_tag("twitter.png", class:"tweeticon") %>
                  .o(
                  <%= auto_link (poi.tweet).html_safe %>)
                <% else %>
                  <%= image_tag("twitter_notweets.png", class:"tweeticon notweet") %>
                  <span>Keine Tweets zu diesem Punkt</span>
                <% end %>
              </td>
              <td></td>
            </tr>
		<% end %>
	<% end %>
	</table>
</div>

<%= link_to "Back to track list", "/track" %>
