<h1>Track: <%= @track.title %></h1>

<div id="show">
	<div>
	ID: <%= @track.uid %>
	</div>
	<div>
	Title: <%= @track.title %>
	</div>
	<div>
	<% if !@track.description.empty? %>
		Description: <p><%= @track.description %></p>
	<% else %>
		No Description
	<% end %>
	</div>
	<div>
	Track length: <%= (@track.track_length/1000).round(3) %>km
	</div>
	<div>
	Created at: <%= @track.created_date %>
	</div>
</div>
<div>
	<table>
	<% if @pointsOfInterest.empty? %>
		<p>Keine Pois</p>
	<% else %>
		Pois:
		<% @pointsOfInterest.each do |pointOfInterest| %>
			<tr class='<%= cycle 'list_line_odd', 'list_line_even'  %>'>
				<td><%= pointOfInterest.title %></td>
				<td><%= link_to "Info", "#{pointOfInterest.link}" %></td>
				
			</tr>
			<tr><td><%= auto_link(pointOfInterest.tweet).html_safe %></td></tr>
		<% end %>
	<% end %>
	</table>
</div>


<%= content_tag :a, "List all tracks", :href => ".." %>
