<div id="show" class="nexttoheader">
	<div>
      <h1>Track: <%= @track.title %></h1>
	</div>
	<div>
	<% if !@track.description.empty? %>
      <b>Description</b> <p style="margin-left: 15px;"><%= @track.description %></p>
	<% else %>
		No Description
	<% end %>
	</div>
    <div>
    <b>Start:</b> <div class="geo">Longitude: <span class="longitude"><%= @track.start_point[:lng]%></span> Latitude: <span class='latitiude'><%= @track.start_point[:lat]%></span></div>
    </div>
    <div>
      <b>End:</b> <div class="geo">Longitude: <span class="longitude"><%= @track.end_point[:lng]%></span> Latitude: <span class='latitiude'><%= @track.end_point[:lat]%></span></div>
    </div>
	<div>
      <b>Track length</b> <%= (@track.track_length / 1000).round(3) %>km
	</div>
	<div>
      <b>Created at</b> <%= @track.created_date %>
	</div>
</div>
<div>
  <%= gmaps({ "markers" => { "data" => @points_json }, "polylines" => { "data" => @route_json } } ) %>

  <div id="poi">
    <div id="poihead">
      <h2>Interessante Punkte auf dieser Strecke (<%= @total_count.to_i %>):</h2>
      <%= render "paginator" %>
    </div>
      <table>
      <% if @pois.empty? %>
          <p>Keine Points of Interests. :(</p>
      <% else %>
          <% @pois.each do |poi| %>
              <% c = cycle 'list_line_odd', 'list_line_even' %>
              <tr class='<%= c  %>'>
                  <td><%= poi.title %></td>
                  <td><%= link_to image_tag("wikipedia.png", class:"wikiicon"), "#{poi.link}", :target => '_blank' %></td>
                  
              </tr>
              <tr class="<%= c %>">
                <td>
                  <% if poi.tweet %>
                    <%= image_tag("twitter.png", class:"tweeticon") %>
                    .o(
                    <%= auto_link(poi.tweet, :html => { :target => '_blank' }) %>)
                  <% else %>
                    <%= image_tag("twitter_notweets.png", class:"tweeticon notweet") %>
                    <span>Keine Tweets zu diesem Punkt</span>
                  <% end %>
                </td>
                <td></td>
              </tr>
          <% end %>
      <% end %>
      </table>
      <%= render "paginator" %>
  </div>
</div>

<%= link_to "Back to track list", "/track" %>

<%= yield :scripts %>
