<!DOCTYPE html>
<html>
<head>
  <title>Semantic Enrichment Overlay for gpsies.org</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name  %>'>
  <%=
    content_tag(:a, image_tag("logo.png", title: "semantic track enrichment", alt: "semantic track enrichment", id:"headerimg") , href: "/", id:"headerimglink", rel:"home, directory")
  %>

<%= yield %>

</body>
</html>
